<app-navbar></app-navbar>
<router-outlet></router-outlet>


<!-- <nav class="navbar">
  <div class="logo">EduSync</div>

  <div class="links">
    <a routerLink="">Inicio</a>

    <a *ngIf="authService.isAuthenticated()" routerLink="/courses">
      Cursos
    </a>

    <a *ngIf="!authService.isAuthenticated()" routerLink="/login">
      Login
    </a>

    <a *ngIf="authService.isAuthenticated()" (click)="authService.logout()">
      Logout
    </a>
  </div>
</nav>

<router-outlet></router-outlet> -->





