<h2>Panel Admin</h2>

<h3>Crear nuevo curso</h3>

<input [(ngModel)]="title" placeholder="Título">
<input [(ngModel)]="description" placeholder="Descripción">

<button *ngIf="!selectedCourseId" (click)="createCourse()">
    Crear curso
</button>

<button *ngIf="selectedCourseId" (click)="updateCourse()">
    Actualizar curso
</button>

<p>{{ message }}</p>

<hr>

<h3>Cursos existentes</h3>

<ul>
    <li *ngFor="let course of courses">
        <!-- CLICK PARA SELECCIONAR -->
        <div (click)="selectCourse(course.id)" style="cursor:pointer; font-weight:bold;">
            {{ course.title }} - {{ course.description }}
        </div>
        <ul *ngIf="course.lessons?.length">
            <ul *ngIf="course.lessons?.length">
                <li *ngFor="let lesson of course.lessons">
                    {{ lesson.title }}
                    <button (click)="deleteLesson(lesson.id)">
                        Eliminar
                    </button>
                    <br>
                    <input type="file" (change)="onFileSelected($event, lesson.id)">
                    <button (click)="uploadFile()">
                        Subir archivo
                    </button>
                    <div *ngIf="lesson.fileName">
                        📎 Archivo actual: {{ lesson.fileName }}
                    </div>
                </li>
            </ul>
        </ul>
        <button (click)="editCourse(course)">Editar</button>
        <button (click)="deleteCourse(course.id)">Eliminar</button>
    </li>
</ul>

<hr>

<!-- FORMULARIO SOLO SI HAY CURSO SELECCIONADO -->
<div *ngIf="selectedCourseId">
    <h3>Agregar lección</h3>
    <input [(ngModel)]="lessonTitle" placeholder="Título lección">
    <input [(ngModel)]="lessonContent" placeholder="Contenido">
    <button (click)="createLesson()">Crear lección</button>
</div>




