.app-container {
    height: 100vh;
}

mat-sidenav-content {
    min-height: 100vh;
    display: block;
}


/* .app-container {
    height: 100vh;
} */

.content {
    padding: 30px;
    min-height: 100%;
}

/* HOME */
.home-background {
    position: relative;
    min-height: 100vh;
    background-image: url('/assets/home-bg.jpg');
    background-size: cover;
    background-position: center;
}

.home-background::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
}

.home-background .content {
    position: relative;
    z-index: 1;
}

/* .home-background {
    background-image: url('assets/home-bg.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
} */

/* RESTO */
.default-background {
    background-color: blueviolet;
    /* background-color: #f4f6f9; */
}

mat-sidenav {
    background-color: #111827;
    /* gris azulado oscuro */
    color: white;
    padding-top: 20px;
    width: 220px;
}

mat-sidenav button {
    color: #cbd5e1;
    justify-content: flex-start;
}

mat-sidenav button:hover {
    background-color: #1f2937;
    color: white;
}

.logo {
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
}

.content h1,
.content h2,
.content h3 {
    color: #111827;
    font-weight: 600;
}