<h1>Bienvenido al sistema EduSync</h1>
<p>EduSync es una plataforma de gestión educativa diseñada para facilitar la administración de instituciones educativas,
    mejorar la comunicación entre estudiantes, profesores y padres, y optimizar los procesos académicos.</p>

<h2>Características principales:</h2>
<ul>
    <li><strong>Gestión de estudiantes:</strong> Permite registrar y administrar la información de los estudiantes,
        incluyendo su historial académico, asistencia y rendimiento.</li>
    <li><strong>Gestión de profesores:</strong> Facilita la administración de los profesores, sus horarios, asignaturas
        y evaluaciones.</li>
    <li><strong>Comunicación efectiva:</strong> Proporciona herramientas para la comunicación entre estudiantes,
        profesores y padres a través de mensajes, notificaciones y foros.</li>
    <li><strong>Gestión de cursos:</strong> Permite crear y administrar cursos, asignar profesores y gestionar el
        contenido educativo.</li>
    <li><strong>Evaluaciones y calificaciones:</strong> Facilita la creación de evaluaciones, el registro de
        calificaciones y el seguimiento del rendimiento académico.</li>